<launch>
    <!-- Launch stereo_image_proc with a namespace -->
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" ns="stereo_camera" />
    <node pkg="tf" type="static_transform_publisher" name="camera_link_transformer" args="0 0 0 0 0 0 base_footprint stereo_camera 100"/>

    <node pkg="rtabmap_odom" type="stereo_odometry" name="stereo_odometry" output="screen">
       <remap from="left/image_rect"       to="/stereo_camera/left/image_rect_color"/>
       <remap from="right/image_rect"      to="/stereo_camera/right/image_rect"/>
       <remap from="left/camera_info"      to="/stereo_camera/left/camera_info"/>
       <remap from="right/camera_info"     to="/stereo_camera/right/camera_info"/>

       <remap from="odom" to="/stereo_odometry"/>

       <param name="frame_id"        type="string" value="base_footprint"/>
       <param name="subscribe_rgbd"  type="bool" value="false"/>

       <param name="Odom/Strategy"      type="string" value="0"/> <!-- 0=Frame-to-Map, 1=Frame=to=Frame -->
       <param name="Vis/EstimationType" type="string" value="1"/> <!-- 0=3D->3D 1=3D->2D (PnP) -->
       <param name="Vis/MaxDepth"       type="string" value="0"/>
       <param name="Odom/GuessMotion" type="string" value="true"/>
       <param name="Vis/MinInliers"     type="string" value="10"/>
       <param name="OdomF2M/MaxSize"    type="string" value="1000"/>
       <param name="GFTT/MinDistance"   type="string" value="10"/>
       <param name="GFTT/QualityLevel"  type="string" value="0.00001"/>
       <param name="GFTT/QualityLevel"  type="string" value="0.00001"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="--delete_db_on_start">
       <param name="subscribe_stereo" type="bool" value="true"/>
       <param name="subscribe_depth"  type="bool" value="false"/>
       <param name="subscribe_rgbd"      type="bool" value="false"/>

       <remap from="left/image_rect"   to="/stereo_camera/left/image_rect_color"/>
       <remap from="right/image_rect"  to="/stereo_camera/right/image_rect"/>
       <remap from="left/camera_info"  to="/stereo_camera/left/camera_info"/>
       <remap from="right/camera_info" to="/stereo_camera/right/camera_info"/>

       <remap from="odom" to="/stereo_odometry"/>

       <param name="frame_id"        type="string" value="base_footprint"/>
       <param name="queue_size" type="int" value="30"/>
       <param name="map_negative_poses_ignored" type="bool" value="true"/>

       <!-- RTAB-Map's parameters -->
       <param name="Rtabmap/TimeThr"                   type="string" value="700"/>
       <param name="Grid/3D"                           type="string" value="false"/>
       <param name="Grid/Sensor"                       type="string" value="1"/>
       <param name="Grid/DepthDecimation"              type="string" value="2"/>
       <param name="Grid/FlatObstacleDetected"         type="string" value="false"/>
       <param name="Kp/MaxDepth"                       type="string" value="0"/>
       <param name="Kp/DetectorStrategy"               type="string" value="6"/>
       <param name="Vis/EstimationType"                type="string" value="1"/>   <!-- 0=3D->3D, 1=3D->2D (PnP) -->
       <param name="Vis/MaxDepth"                      type="string" value="0"/>
       <param name="Grid/RayTracing"                   type="string" value="true"/>
       <param name="RGBD/CreateOccupancyGrid"          type="string" value="true"/>
    </node>
</launch>
